*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
    height: 100vh;
    background-color:darkcyan;
    color: #fff;
}
h1{
    margin-bottom: 70px;
    letter-spacing: 3px;
    font-size: 40px;
}
button{
    width: 120px;
    height: 40px;
    margin: 60px 20px;
    font-size: 16px;
    outline: none;
    background-color: orange;
    border-radius: 5px;
    border: 1px solid black;
    font-family: 'Roboto', sans-serif;
}
button:hover{
    cursor: pointer;
    background-color: coral;
    border: 1px solid #fff;
}
img{
    height: 150px;
}